{% extends 'base.html' %}
{% load i18n %}
{% block content %}
	<h1>{% trans "Subscribe Settings" %}</h1>
	<div id='subscribe'>
		<form method="post" action="">
			{% csrf_token %}
			{% for field in form %}
				<div id='form-field-{{ field.name }}'>
					<p>{{ field.label_tag }}</p>
					{% if field.errors %}
						<ul class="errors">
							{% for error in field.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</ul>
					{% endif %}
					<p>{{ field }}</p>
				</div>
			{% endfor %}
			<button type="submit">{% trans "Save" %}</button>
		</form>
	</div>
{% endblock %}