{% extends 'base.html' %}
{% load i18n %}
{% block content %}
	<h1>News Letter</h1>
	<div id='subscribe'>
		{%if ok%}
			<h2>OK!</h2>
		{%else%}
			<form method="post" action="">
				{% csrf_token %}
				{%if form.errors %}<h3><strong>Сообщение не отправлено!</strong></h3>{% endif %}
				{{ form.errors }}
				{% for field in form %}
					<p>
						{{ field.label_tag }}
						{{ field }}
					</p>
				{% endfor %}
				<button type="submit">{% trans "Subscribe" %}</button>
			</form>
		{% endif %}
	</div>
{% endblock %}